*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    height: 900px;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box{
    width: 220px;
    height: 200px;
    background-color: #E1E1E1;
    border-radius: 5px;
}